<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732282378191-quegb72jpss7voao71s6bojkbf4egajb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732282378191-quegb72jpss7voao71s6bojkbf4egajb</string>
	<key>API_KEY</key>
	<string>AIzaSyAbakwWn086RNBwYqFnrtxSm1pRn4kPkGM</string>
	<key>GCM_SENDER_ID</key>
	<string>732282378191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andrews.makehay</string>
	<key>PROJECT_ID</key>
	<string>andrewshay-ea78e</string>
	<key>STORAGE_BUCKET</key>
	<string>andrewshay-ea78e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732282378191:ios:a851ed8ec182a10df2a4ba</string>
</dict>
</plist>